<div data-ng-controller="ContactsController">
  {{formData}}
  <div class="vertical-middle">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Создание нового контакта</h2>
        </div>
        <div class="panel-body">
          <form name="contactForm" data-ng-submit="create(contactForm.$valid)" class="form-horizontal" role="form">

            <div class="form-group" ng-class="{ 'has-error' : submitted && contactForm.name.$invalid }">
              <label mean-token="'create-name'" class="col-md-2 control-label">Имя</label>
              <div class="col-md-10">
                <input name="name" type="text" class="form-control" data-ng-model="contact.name" id="name" placeholder="Введите имя..." \>
                <div ng-show="submitted && contactForm.name.$invalid" class="help-block">
                  <p ng-show="contactForm.name.$error.required">Поле обязательно к заполнению</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && contactForm.phone.$invalid }">
              <label mean-token="'create-phone'" class="col-md-2 control-label">Телефон</label>
              <div class="col-md-10">
                <input phone="phone" type="text" class="form-control" data-ng-model="contact.phone" id="phone" placeholder="Введите телефон..." \>
                <div ng-show="submitted && contactForm.phone.$invalid" class="help-block">
                  <p ng-show="contactForm.phone.$error.required">Поле обязательно к заполнению</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label mean-token="'create-email'" class="col-md-2 control-label">Email</label>
              <div class="col-md-10">
                <input email="email" type="text" class="form-control" data-ng-model="contact.email" id="email" placeholder="Введие email" \>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button mean-token="'create-submit'" type="submit" class="btn btn-info">Добавить </button>
              </div>
            </div>

          </form>
          <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
