<section data-ng-controller="ContactsController" data-ng-init="find()">
  <div data-ng-hide="!contacts.length > 0">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Creator</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr data-ng-repeat="contact in contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.user.username}}</td>
          <td><a data-ng-href="/contacts/{{contact._id}}">View</a></td>
          <td><a data-ng-href="/contacts/{{contact._id}}/edit">Edit</a></td>
        </tr>
      </tbody>
    </table>
    <p><a data-ng-href="/contacts/create">Create One</a></p>

  </div>
  <br/>
  <h2 data-ng-hide="!contacts || contacts.length">No contacts yet. <br> Why don't you <a href="/contacts/create">Create One</a>?</h2>
</section>
