<div data-ng-controller="DriversController">
  <div class="vertical-middle">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Создание нового водителя</h2>
        </div>
        <div class="panel-body">
          <form name="driverForm" data-ng-submit="create(driverForm.$valid)" class="form-horizontal" role="form">

            <div class="form-group" ng-class="{ 'has-error' : submitted && driverForm.name.$invalid }">
              <label mean-token="'create-name'" class="col-md-2 control-label">ФИО</label>
              <div class="col-md-10">
                <input title="name" type="text" class="form-control" data-ng-model="driver.name" id="name" placeholder="Введите ФИО водителя..." required\>
                <div ng-show="submitted && driverForm.name.$invalid" class="help-block">
                  <p ng-show="driverForm.name.$error.required">Обязательнео поле к заполнению</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && driverForm.id.$invalid }">
              <label mean-token="'create-id'" class="col-md-2 control-label">Позывной</label>
              <div class="col-md-10">
                <input title="id" type="number" class="form-control" data-ng-model="driver.id" id="id" placeholder="Введите позывной..." required \>
                <div ng-show="submitted && driverForm.name.$invalid" class="help-block">
                  <p ng-show="driverForm.name.$error.required">ID is required</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && driverForm.car.$invalid }">
              <label mean-token="'create-car'" class="col-md-2 control-label">Car</label>
              <div class="col-md-10">
                <select name="car" id="car" 
                  ng-model="driver.car.current"
                  ng-options="car as (car.model +' - '+car.number) for car in cars"
                  class="form-control">
                  <option value="">Выберите машину...</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button mean-token="'create-submit'" type="submit" class="btn btn-info">Добавить</button>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
