<section data-ng-controller="DriversController" data-ng-init="find()">
  <p><a data-ng-href="/drivers/create">Добавить новый</a></p>
  
  <div data-ng-hide="!drivers.length > 0">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Позывной</th>
          <th>Приступил к работе</th>
          <th>Машина</th>
          <th>Цвет</th>
          <th>Номер машины</th>
          <th>Задолженность по авто</th>
          <th>Уволен</th></th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr data-ng-repeat="driver in drivers">
          <td>{{driver.name}}</td>
          <td>{{driver.id}}</td>
          <td>{{driver.created  | date:'dd.MM.yyyy'}}</td>
          <td>{{driver.car.current.model}}</td>
          <td>{{driver.car.current.color}}</td>
          <td>{{driver.car.current.number}}</td>
          <td>{{driver.car.current.total}}</td>
          <td>{{driver.fired === null ? '-' : driver.fired | date:'dd.MM.yyyy'}}</td>
          <td><a data-ng-href="/cars/{{driver.car._id}}/edit">Редактировать авто</a></td>
          <td><a data-ng-href="/drivers/{{driver._id}}/edit">Редактировать</a></td>
          <td><a data-ng-click="remove(driver)">Удалить</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <h2 data-ng-hide="!drivers || drivers.length">No drivers yet. <br> Why don't you <a href="/drivers/create">Create One</a>?</h2>
</section>
