<section data-ng-controller="DriversController" data-ng-init="findOne()">
  <span>{{driver.created | date:'medium'}}</span> /
  <span>{{driver.user.name}}</span>
  <h2>{{driver.name }} {{driver.id}}</h2>
  <div data-ng-if="hasAuthorization(driver)">
    <a class="btn" href="drivers/{{driver._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(driver);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>{{driver.color}} {{driver.number}}</div>
</section>
