<div data-ng-controller="ClientsController">
   <div class="vertical-middle">
      <div class="container">
         <div class="form-group">
            <div class="btn-group">
               <label class="btn btn-success" data-ng-model="isCash" uib-btn-radio="true">Наличный </label>
               <label class="btn btn-success" data-ng-model="isCash" uib-btn-radio="false">Без наличный</label>
            </div>
         </div>
         <form name="clientForm" data-ng-submit="create('true')" class="form-horizontal" role="form" novalidate>
            <div class="panel panel-default" ng-show="isCash === false">
               <div class="panel-heading">
                  <h2 class="panel-title">Информация о клиенте</h2>
               </div>
               <div class="panel-body" >
                  <div class="form-group" >
                     <label mean-token="'create-title'" class="col-md-2 control-label">Назавание</label>
                     <div class="col-md-10">
                        <input title="title" type="text" class="form-control" data-ng-model="client.title" id="title" placeholder="Введите название..." required \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-name'" class="col-md-2 control-label">Юридическое название</label>
                     <div class="col-md-10">
                        <input title="name" type="text" class="form-control" data-ng-model="client.name" id="name" placeholder="Введите юридическое название компаний..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-address'" class="col-md-2 control-label">Адрес</label>
                     <div class="col-md-10">
                        <input title="address" type="text" class="form-control" data-ng-model="client.address" id="address" placeholder="Введите адрес компаний..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-contactPerson'" class="col-md-2 control-label">Контактное лицо</label>
                     <div class="col-md-10">
                        <input title="contactPerson" type="text" class="form-control" data-ng-model="client.contactPerson" id="contactPerson" placeholder="Введите имя и телефон контактного лица..." \>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h2 class="panel-title">Тарифы</h2>
               </div>
               <div class="panel-body">

                  <div class="form-group">
                     <label mean-token="'create-orderMinSum'" class="col-md-2 control-label">Сумма минимального заказа</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.min.sum" placeholder="Введите время минимального заказа..." \>
                     </div>
                  </div>

                  <div class="form-group">
                     <label mean-token="'create-orderSumPerHour'" class="col-md-2 control-label">Сумма за час</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.sumPerHour" placeholder="Введите сумму за час..." \>
                     </div>
                  </div>

                  <div class="form-group">
                     <label mean-token="'create-orderSumPerKm'" class="col-md-2 control-label">Сумма за километраж</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.sumPerKm" placeholder="Введите сумму за километраж..." \>
                     </div>
                  </div>

                  <div class="form-group">
                     <label mean-token="'create-orderMinTime'" class="col-md-2 control-label">Минимальное время заказа</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.min.time" placeholder="Введите время минимального заказа..." \>
                     </div>
                  </div>

                  <div class="form-group">
                     <label mean-token="'create-orderMinTime'" class="col-md-2 control-label">Шаг округления</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.roundStep" placeholder="Введите шаг округления..." \>
                     </div>
                  </div>
                  
                  <div class="form-group">
                     <label mean-token="'create-clientTarifWaitingTime'" class="col-md-2 control-label">Время ожидания в аэропорту</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.waitingTime" placeholder="Введите время ожидания..." \>
                     </div>
                  </div>
                  
                  <div class="form-group" ng-show="isCash === true">
                     <label mean-token="'create-orderMinKm'" class="col-md-2 control-label">Минимальный километраж</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.min.km" placeholder="Введите время минимального заказа..." \>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h2 class="panel-title">Услуги</h2>
               </div>
               <div class="panel-body">
                  <div class="form-group">
                     <label mean-token="'create-orderService1'" class="col-md-2 control-label">Курьер</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.services.courier" placeholder="Сумма за курьерку..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-orderService2'" class="col-md-2 control-label">Авто няня</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.services.nanny" placeholder="Сумма за автоняня..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-orderService2'" class="col-md-2 control-label">Авто персона</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.services.person" placeholder="Сумма за авто персону..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-orderService3'" class="col-md-2 control-label">Авто перегон</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.services.drunkDriver" placeholder="Сумма за авто перегон..." \>
                     </div>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <div class="col-md-offset-2 col-md-10">
                  <button mean-token="'create-submit'" type="submit" class="btn btn-info">Создать</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
</div>
</div>