<div data-ng-controller="ClientsController"  data-ng-init="findOne()">
   <div class="vertical-middle">
      <div class="container">
         <form name="clientForm" data-ng-submit="update('true')" class="form-horizontal" role="form" novalidate>
            <div class="panel panel-default" ng-show="isCash === false">
               <div class="panel-heading">
                  <h2 class="panel-title">Информация о клиенте</h2>
               </div>
               <div class="panel-body" >
                  <div class="form-group" >
                     <label mean-token="'create-title'" class="col-md-2 control-label">Назавание</label>
                     <div class="col-md-10">
                        <input title="title" type="text" class="form-control" data-ng-model="client.title" id="title" placeholder="Введите название..." required \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-name'" class="col-md-2 control-label">Юридическое название</label>
                     <div class="col-md-10">
                        <input title="name" type="text" class="form-control" data-ng-model="client.name" id="name" placeholder="Введите юридическое название компаний..." \>
                        <div ng-show="submitted && clientForm.name.$invalid" class="help-block">
                           <p ng-show="clientForm.name.$error.required">Name is required</p>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-address'" class="col-md-2 control-label">Адрес</label>
                     <div class="col-md-10">
                        <input title="address" type="text" class="form-control" data-ng-model="client.address" id="address" placeholder="Введите адрес компаний..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-contactPerson'" class="col-md-2 control-label">Контактное лицо</label>
                     <div class="col-md-10">
                        <input title="contactPerson" type="text" class="form-control" data-ng-model="client.contactPerson" id="contactPerson" placeholder="Введите имя и телефон контактного лица..." \>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h2 class="panel-title">Тарифы</h2>
               </div>
                <div class="panel-body">

                  <div class="form-group">
                     <label mean-token="'create-orderMinSum'" class="col-md-2 control-label">Сумма минимального заказа</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.min.sum" placeholder="Введите время минимального заказа..." \>
                     </div>
                  </div>

                  <div class="form-group">
                     <label mean-token="'create-orderSumPerHour'" class="col-md-2 control-label">Сумма за час</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.sumPerHour" placeholder="Введите сумму за час..." \>
                     </div>
                  </div>

                  <div class="form-group">
                     <label mean-token="'create-orderSumPerKm'" class="col-md-2 control-label">Сумма за километраж</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.sumPerKm" placeholder="Введите сумму за километраж..." \>
                     </div>
                  </div>

                  <div class="form-group">
                     <label mean-token="'create-orderMinTime'" class="col-md-2 control-label">Минимальное время заказа</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.min.time" placeholder="Введите время минимального заказа..." \>
                     </div>
                  </div>

                  <div class="form-group">
                     <label mean-token="'create-orderMinTime'" class="col-md-2 control-label">Шаг округления</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.roundStep" placeholder="Введите шаг округления..." \>
                     </div>
                  </div>
                  
                  <div class="form-group">
                     <label mean-token="'create-clientTarifWaitingTime'" class="col-md-2 control-label">Время ожидания в аэропорту</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.waitingTime" placeholder="Введите время ожидания..." \>
                     </div>
                  </div>
                  
                  <div class="form-group" ng-show="isCash === true">
                     <label mean-token="'create-orderMinKm'" class="col-md-2 control-label">Минимальный километраж</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.tarif.min.km" placeholder="Введите время минимального заказа..." \>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h2 class="panel-title">Услуги</h2>
               </div>
               <div class="panel-body">
                  <div class="form-group">
                     <label mean-token="'create-orderService1'" class="col-md-2 control-label">Курьер</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.services.courier" placeholder="Сумма за курьерку..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-orderService2'" class="col-md-2 control-label">Авто няня</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.services.nanny" placeholder="Сумма за автоняня..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-orderService2'" class="col-md-2 control-label">Авто персона</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.services.person" placeholder="Сумма за авто персону..." \>
                     </div>
                  </div>
                  <div class="form-group">
                     <label mean-token="'create-orderService3'" class="col-md-2 control-label">Авто перегон</label>
                     <div class="col-md-10">
                        <input type="number" class="form-control" data-ng-model="client.services.drunkDriver" placeholder="Сумма за авто перегон..." \>
                     </div>
                  </div>
               </div>
            </div>
            
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h2 class="panel-title">Тарифные зоны</h2>
               </div>
               <div class="panel-body">

                <div class="form-group">
                  <div class="row">

                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" ng-model="selectedPlace" placeholder="Введите адрес..." uib-typeahead="address for address in getLocations($viewValue)" typeahead-loading="loadingLocationsFrom" typeahead-no-results="noResultsFrom" typeahead-editable="true" class="form-control">
                          <i ng-show="loadingLocationsFrom" class="glyphicon glyphicon-refresh"></i>
                          <div ng-show="noResultsFrom">
                            <i class="glyphicon glyphicon-remove"></i> Ничего не найдено
                          </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <input type="text" name="sum" class="form-control" data-ng-model="selectedPlaceSum" />
                    </div>

                    <div class="col-md-2">
                      <a href="" class="btn btn-danger" ng-click="addPlace()">Добавить</a>
                    </div>
                  </div>

                </div>



                <div class="form-group">

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>Адрес</td>
                        <td>Сумма</td>
                        <td>Действие</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="place in client.places">
                        <td>{{place.place.address}}</td>
                        <td>{{place.sum}}</td>
                        <td>
                          <a class="btn btn-primary" ng-click="removePlace($index)">Удалить</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
               </div>
            </div>

            <div class="form-group">
               <div class="col-md-offset-2 col-md-10">
                  <button mean-token="'edit-submit'" type="submit" class="btn btn-info">Обновить</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
</div>
</div>