<section data-ng-controller="ClientsController" data-ng-init="find()">
  
  <p><a class="btn btn-primary" data-ng-href="/clients/create">Создать</a></p>
  
  <div data-ng-hide="!clients.length > 0">
    <table class="table table-striped table-bordered " >
    <thead>
      <tr>
        <th>Клиент</th>
        <th>Тарифы</th>
        <th>Услуги</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <tr data-ng-repeat="client in clients">
        <td>
          <div ng-show="client.title !== null">
            <p><b>Клиент: </b>{{client.title}}</p>
            <p><b>Юр название: </b>{{client.name}}</p>
            <p><b>Адрес:</b> {{client.address}}</p>
            <p><b>Контактное лицо:</b> {{client.contactPerson}}</p>
          </div>
          <div ng-show="client.title == null">
            Тарифы для физических лиц
          </div>

          <p style="margin-top=7px"><b>Кол-во тарифных зон:</b> {{client.places.length}}</p>
        </td>
        <td>
          <p><b>Сумма мин заказа:</b> {{client.tarif.min.sum}}</p>
          <p><b>Сумма за час:</b> {{client.tarif.sumPerHour}}</p>
          <p><b>Сумма за километраж: </b>{{client.tarif.sumPerKm}}</p>
          <p><b>Мин время заказ: </b>{{client.tarif.min.time}}</p>
          <p><b>Шаг округления: </b>{{client.tarif.roundStep}}</p>
          <p><b>Время ожидания в аэропорту: </b>{{client.tarif.waitingTime}}</p>
          <p ng-show="client.title == null"><b>Минимальный километраж:</b> {{client.tarif.min.km}}</p>
        </td>
        <td>
          <p><b>Курьерка: </b>{{client.services.courier}}</p>
          <p><b>Авто няня: </b>{{client.services.nanny}}</p>
          <p><b>Авто персона: </b>{{client.services.person}}</p>
          <p><b>Перегон:</b> {{client.services.drunkDriver}}</p>
        </td>
        <td>
          <a class="btn" href="clients/{{client._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(client);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>  
        </td>
    </tr>
    </tbody>
  </table>
  </div>
  <br/>
  <h2 data-ng-hide="!clients || clients.length">No clients yet. <br> Why don't you <a href="/clients/create">Create One</a>?</h2>
</section>
