<style type="text/css">
.welCustom {
  background: #dff0d8
}
.welIsCashCustom {
  background: #fcf8e3
}

  .direction-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .direction-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .direction-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

</style>

<script type="text/ng-template" id="DirectionPopupTemplate.html">
      <div class="direction-popup-wrapper"
         ng-style="{top: position().top+'px', left: position().left+'px'}"
         style="display: block;"
         ng-show="isOpen() && !moveInProgress"
         aria-hidden="{{!isOpen()}}">

        <ul class="dropdown-menu" role="listbox">
            <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl">
                <p class="message">select location from drop down.</p>
                </div>
            </li>
        </ul>
      </div>
</script>


<div data-ng-controller="OrderCreateController" ng-init="loadResources()" class="container">
  <form name="orderForm" data-ng-submit="create(true)" role="form" novalidate>



<div class="well" ng-class="{'welCustom': !order.isCash, welIsCashCustom: order.isCash}">
  <div class="row">

    
    <div class="row">
      <div class="col-md-3">
        <ui-select ng-model="order.client" tabindex="1" autofocus="true">
        <ui-select-match placeholder="Клиенты...">{{$select.selected.title}}</ui-select-match>
        <ui-select-choices group-by="'company'" repeat="client in clients  | filter: {title: $select.search} track by $index">
        <div ng-bind-html="client.title | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  
  <div class="col-md-6">
    <div class="row">
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" data-ng-model="order.preorder" tabindex="9" /> Пред заказ
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          
          <input type="text" 
            ng-disabled="order.client === null" 
            ng-model="order.direction.from" 
            placeholder="Введите адрес подачи..." 
            uib-typeahead="address.place.address for address in getLocations($viewValue)" 
            typeahead-loading="loadingLocationsFrom" 
            typeahead-no-results="noResultsFrom" 
            typeahead-editable="true" 
            class="form-control" tabindex="2"/>
          
            <i ng-show="loadingLocationsFrom" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResultsFrom">
              <i class="glyphicon glyphicon-remove"></i> Ничего не найдено
            </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          
          <input type="text" 
            ng-disabled="order.client === null" 
            ng-model="order.direction.to" 
            placeholder="Введите адрес назначения..." 
            uib-typeahead="address.place.address for address in getLocations($viewValue)" 
            typeahead-loading="loadingLocationsTo" 
            typeahead-no-results="noResultsTo" 
            typeahead-editable="true" 
            class="form-control" tabindex="3"/>

            <i ng-show="loadingLocationsTo" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResultsTo">
              <i class="glyphicon glyphicon-remove"></i> Ничего не найдено
            </div>

        </div>
      </div>
    </div>
  </div>

<div class="col-md-3" ng-if="order.preorder">
  <input type="date" class="form-control" id="preorder" name="preorder" ng-model="order.moment.preorder" placeholder="yyyy-MM-dd" min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" ng-disabled="!order.preorder" tabindex="10">
</div>
<div class="col-md-3" ng-if="order.preorder">
  <input type="time" class="form-control" id="preorderTime" name="preorderTime" ng-model="order.moment.preorder" placeholder="HH:mm" ng-disabled="!order.preorder" tabindex="11" />
</div>
</div>
<br/>
<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <ui-select multiple tagging="contactTagTransform" ng-model="order.passengers" on-select="onSelectPassenger($item)" tabindex="4">
      <ui-select-match placeholder="Добавить контакты пассажиров...">{{$item.name}} &lt;{{$item.phone}}&gt;</ui-select-match>
      <ui-select-choices repeat="contact in contacts | filter: $select.search track by $index">
      <div ng-if="contact.isTag" ng-bind-html="contact.name +' '+contact.phone+' <small>(новый)</small>'| highlight: $select.search"></div>
      <div ng-if="!contact.isTag" ng-bind-html="contact.name +' '+contact.phone + contact.isTag| highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <ui-select ng-model="order.driver" tabindex="5">
    <ui-select-match placeholder="Водители...">{{$select.selected.id +'-'+ $select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="driver in drivers  | filter: {id: $select.search} track by $index">
    <div ng-bind-html="(driver.id+'-'+ driver.name) | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>
</div>
</div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="order.service" uib-btn-radio="'courier'">Курьерка</label>
        <label class="btn btn-primary" ng-model="order.service" uib-btn-radio="'nanny'">Авто няня</label>
        <label class="btn btn-primary" ng-model="order.service" uib-btn-radio="'person'">Персона</label>
        <label class="btn btn-primary" ng-model="order.service" uib-btn-radio="'drunkDriver'">Авто перегон</label>
    </div>
  </div>
  <div class="col-md-6">
    <textarea name="comment" class="form-control" rows="5" placeholder="Коментарий к заказу" data-ng-model="order.comment" tabindex="7"></textarea>
  </div>
</div>
</div>
</div>


<button mean-token="'create-submit'" type="submit" class="btn btn-default" tabindex="8">Добавить новый заказ</button>

</form>
</div>