<style type="text/css">
  .welCustom {
    background: #dff0d8
  }
</style>

<div data-ng-controller="OrderEditController" data-ng-init="loadResources()" class="container">

  <form name="orderForm" data-ng-submit="update(true)" role="form" novalidate>
    <div class="well" ng-class="{'welCustom': order.isCash === false}">

      <div class="row">

        <div class="col-md-6">

          <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <label class="btn btn-success" ng-model="order.isCash" uib-btn-radio="true">Наличный </label>
                <label class="btn btn-success" ng-model="order.isCash" uib-btn-radio="false">Без наличный</label>
              </div>
            </div>

            <div class="col-md-6">
              <ui-select ng-model="order.client" tabindex="2" ng-show="order.isCash === false">
                <ui-select-match placeholder="Клиенты...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="client in clients  | filter: {title: $select.search} track by $index">
                  <div ng-bind-html="client.title | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

          </div>

          <br/>
          <!--Направление-->
          <div class="row">

            <div class="form-group">
              <ui-select multiple limit="2" tagging="addressTagTransform" autofocus tagging-label="(новый)" ng-model="order.direction" theme="bootstrap" tabindex=2>
                <ui-select-match placeholder="Введите адреса направления..."> {{$item.address}}</ui-select-match>
                <ui-select-choices repeat="place in places | filter: {address: $select.search} | limitTo: 10">
                  <div ng-bind-html="place.address | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

          </div>

          <br/>
          <!--Пасажиры-->
          <div class="row">
            <div class="form-group">
              <ui-select multiple tagging="contactTagTransform" ng-model="order.passengers" on-select="onSelectPassenger($select)" tabindex="4">
                <ui-select-match placeholder="Добавить контакты пассажиров...">{{$item.name}} &lt;{{$item.phone}}&gt;</ui-select-match>
                <ui-select-choices repeat="contact in contacts | filter: $select.search track by $index">
                  <div ng-if="contact.isTag" ng-bind-html="contact.name +' '+contact.phone+' <small>(новый)</small>'| highlight: $select.search"></div>
                  <div ng-if="!contact.isTag" ng-bind-html="contact.name +' '+contact.phone + contact.isTag| highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="btn-group" name="services">
              <label class="btn btn-warning" data-ng-model="order.service.courier" uib-btn-checkbox>Курьерка</label>
              <label class="btn btn-warning" data-ng-model="order.service.nanny" uib-btn-checkbox>Авто няня</label>
              <label class="btn btn-warning" data-ng-model="order.service.person" uib-btn-checkbox>Персона</label>
              <label class="btn btn-warning" data-ng-model="order.service.drunkDriver" uib-btn-checkbox>Авто перегон</label>
            </div>
          </div>
          <br/>

          <div class="row">
            <textarea name="comment" class="form-control" rows="5" placeholder="Коментарий к заказу" data-ng-model="order.comment" tabindex="7"></textarea>
          </div>


        </div>

        <div class="col-md-6">

          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="order.preorder" tabindex="9" /> Пред заказ
            </label>
          </div>

          <table class="table">
            <tbody>
              <tr ng-if="order.preorder">
                <td>Дата пред. заказа:</td>
                <td>
                  <input type="date" class="form-control input-md" id="preorderTime" name="preorderTime" ng-model="order.moment.preorder" placeholder="yyyy-MM-dd" min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" ng-disabled="!order.preorder"
                  tabindex="10">
                </td>
              </tr>
              <tr ng-if="order.preorder">
                <td>
                  Время пред. заказа:
                </td>
                <td>
                  <input type="time" class="form-control" id="preorderTime" name="preorderTime" ng-model="order.moment.preorder" placeholder="HH:mm" ng-disabled="!order.preorder" tabindex="11" />
                </td>
              </tr>
              <tr>
                <td>
                  Время оповещения:
                </td>
                <td>
                  <input type="time" class="form-control" id="notification" name="notification" ng-model="order.moment.notification" placeholder="HH:mm" tabindex="11" />
                </td>
              </tr>
              <tr>
                <td>
                  Время встречи:
                </td>
                <td>
                  <input type="time" class="form-control" id="met" name="met" ng-model="order.moment.met" placeholder="HH:mm" tabindex="11" />
                </td>
              </tr>
              <tr>
                <td>
                  Время завершения:
                </td>
                <td>
                  <input type="time" class="form-control" id="end" name="end" ng-model="order.moment.end" placeholder="HH:mm" tabindex="11" />
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <table class="table table-bordered">
          <tr>
            <td>
              Водитель:
            </td>
            <td>
              <div class="form-group">
                <ui-select ng-model="order.driver" tabindex="5">
                  <ui-select-match placeholder="Водители...">{{$select.selected.id +'-'+ $select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="driver in drivers  | filter: {id: $select.search} track by $index">
                    <div ng-bind-html="(driver.id+'-'+ driver.name) | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </td>
          </tr>
          <tr>
            <td>Километраж:</td>
            <td>
              <input type="number" placeholder="Ведите километраж..." class="form-control input-md" ng-model="order.km" tabindex="7">
            </td>
          </tr>
          <tr>
            <td>
              Статус:
            </td>
            <td>
               <div class="form-group">
                <ui-select ng-model="order.status" tabindex="8">
                  <ui-select-match placeholder="Статусы...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="status in statuses  | filter: {name: $select.search} track by $index">
                    <div ng-bind-html="status.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!--
      <div class="col-md-6">
        <ul class="list">
          <li>Сумма клиента по адресу подачи {{ order.fromAdressSum }}</li>
          <li>Сумма клиента по адресу назначеия {{ order.toAdressSum }}</li>
          <li>Время ожидания {{ order.waitingTime }}</li>
          <li>Время ожидания округл {{ order.waitingTimeRounded }}</li>
          <li>Время поездки {{ order.tripTime }}</li>
          <li>Время поездки округл {{ order.tripTimeRounded }}</li>
          <li>Сумма клиента за время ожидания {{ order.waitingTimeRounded * 30}}</li>
          <li>Сумма клиента за время поездки {{ order.tripTimeRounded * 30}}</li>
          <li>Сумма по км {{ order['kmSum'] }}</li>
          <li>км/час {{ order['kmhour'] }}</li>
          <li>Сумма после условия {{ order['byIfKmLowerFifteen'] }}</li>
          <li>Сумма по трафиной зоне {{ order['tarifMaxSum']}}</li>
          <li>Итоговая сумма {{ order['total'] }}</li>
        </ul>
      </div>
      -->
    </div>

    <div class="row">
      <div class="col-md-6">
        <button mean-token="'create-submit'" type="submit" class="btn btn-danger" tabindex="8">Обновить заказ</button>
      </div>
    </div>

  </form>
</div>