<div class="modal-header">
  <h3 class="modal-title">Обновление заказа</h3>
</div>
<div ng-switch on="nextStatus.key">

  <div ng-switch-when="ASSIGNED">
    <form name="driverAssignForm" class="form-horizontal" role="form" ng-submit="okAssingDriver(driverAssignForm)" novalidate>
      <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : submitted && driverAssignForm.driver.$invalid }">
          <label mean-token="'update-driver'" class="col-md-3 control-label">Выберите водителя</label>
          <div class="col-md-9">
            <select id="driver" name="driver" class="form-control" ng-model="selectedDriver" ng-options="driver as (driver.id +' - '+driver.name) for driver in drivers" tabindex="1" required>
              <option value="">Водители...</option>
            </select>
            <div ng-show="submitted && driverAssignForm.driver.$invalid" class="help-block">
              <p ng-show="driverAssignForm.driver.$error.required">Для смены статуса необходимо выбрать водителя</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Ok" />
        <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
      </div>
    </form>
  </div>

  <div ng-switch-when="CLOSED">
    <form name="closedForm" class="form-horizontal" role="form" data-ng-submit="ok(closedForm)" novalidate>
      <div class="modal-body">

        <div class="form-group" ng-class="{ 'has-error' : submitted && selectedToAddressIsValid === false }">
          <label mean-token="'update-place'" class="col-md-3 control-label">Адрес назначения</label>
          <div class="col-md-9">
            <input type="text" 
              ng-disabled="order.client === null" 
              ng-model="selectedToAddress" 
              placeholder="Введите адрес назначения..." 
              uib-typeahead="address.place.address for address in getLocations($viewValue)" 
              typeahead-loading="loadingLocationsTo" 
              typeahead-no-results="noResultsTo" 
              typeahead-editable="true" 
              class="form-control" tabindex="3"/>

            <i ng-show="loadingLocationsTo" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResultsTo">
              <i class="glyphicon glyphicon-remove"></i> Ничего не найдено
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : submitted && ticketIsValid === false }" ng-if="!order.isCash">
          <label mean-token="'update-ticket'" class="col-md-3 control-label">Номер тикета</label>
          <div class="col-md-9">
            <input type="number" class="form-control" id="ticket" name="ticket" placeholder="Введите номер тикета..." data-ng-model="order.ticket" />
            <div ng-show="submitted && closedForm.ticket.$invalid" class="help-block">
              <p ng-show="closedForm.ticket.$error.required">Обязательное поля для закрытия заказа</p>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : submitted && sumIsValid === false }" ng-if="order.isCash">
          <label mean-token="'update-sum'" class="col-md-3 control-label">Суума заказа</label>
          <div class="col-md-9">
            <input type="number" step="200" min="0" class="form-control" id="sum" name="sum" placeholder="Введите сумму..." data-ng-model="order.sum" />
            <div ng-show="submitted && closedForm.sum.$invalid" class="help-block">
              <p ng-show="closedForm.sum.$error.required">Обязательное поля для закрытия заказа</p>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : submitted && kmIsValid === false }">
          <label mean-token="'update-km'" class="col-md-3 control-label">Километраж</label>
          <div class="col-md-9">
            <input type="number" step="3" min="1" max="1000" class="form-control" id="km" name="km" placeholder="Введите километраж..." data-ng-model="order.km" />
            <div ng-show="submitted && closedForm.km.$invalid" class="help-block">
              <p>Обязательное поля для закрытия заказа</p>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Ok" />
        <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
      </div>
    </form>
  </div>

</div>