<style>
   .isCashRow {
      background-color: #CC9999;
   }
   
   .even {
      background-color: #9999CC;
   }
   /*table > tbody > tr {
      font-family: cursive;
   }*/
   
   table > tbody > tr > td {
      vertical-align: middle;
   }
   table > tbody > tr > td > div > div > a {
      font-family: sans-serif;
   }
</style>
<section data-ng-controller="OrdersController" data-ng-init="find()">
   <p {{orders.length}} заказов</p>

      <!--Фильты-->
      <div class="row">
         <div class="col-md-8">
            <div class="btn-group">
               <label class="btn btn-sm btn-primary" ng-model="quickFilter" uib-btn-radio="'current'">Текущие</label>
               <label class="btn btn-sm btn-primary" ng-model="quickFilter" uib-btn-radio="'preorder'">Пред заказы</label>
               <label class="btn btn-sm btn-primary" ng-model="quickFilter" uib-btn-radio="'COMPLETED'">Завершенные</label>
               <label class="btn btn-sm btn-primary" ng-model="quickFilter" uib-btn-radio="'CLOSED'">Закрытые</label>
               <label class="btn btn-sm btn-primary" ng-model="quickFilter" uib-btn-radio="'CANCELED'">Отмененные</label>
               <label class="btn btn-sm btn-primary" ng-model="quickFilter" uib-btn-radio="'all'">Все</label>

            </div>
         </div>
      </div>

      <br/>
      <p class="small"><b>Заказов:</b> {{orders.length}} </p>

      <div class="row">
         <div class="alert alert-danger" role="alert" ng-if="alertMessage.length > 3"> <strong>Ошибка!</strong> {{alertMessage}}</div>
      </div>

      <br/>

      <div class="row">
         <table class="table table-bordered">
            <tbody>
               <thead>
                  <tr>
                     <th width="30">ID</th>
                     <th width="70">Дата создания</th>
                     <th width="20%">Информация о клиенте</th>
                     <th width="30%">Информация о поездке</th>
                     <th width="20%">Время поездки</th>
                     <th width="30%">Сумма заказа</th>
                     <th>Обработка заказа</th>
                  </tr>
               </thead>
               <tr data-ng-repeat="order in orders" class="small">
                  <td>{{ordder._id.slice(0,4)}}</td>
                  <td>{{order.created | date:'dd.MM HH:mm'}}</td>
                  <td>
                     <p ng-if="order.client !== null"><b>Клиент: </b>{{order.client.title}}</p>
                     <div ng-repeat="passenger in order.passengers">
                        <p><b>Имя: </b>{{passenger.name}}</p>
                        <p><b>Телефон: </b>{{passenger.phone}}</p>
                     </div>
                     <p style="margin-top:7px"><b>Комментарий: </b>{{order.comment}}</p>
                  </td>
                  <td>
                     <p style="margin-bottom=7px">
                        <span class="label label-info" ng-if="order.service !== null" style="text-shadow: 0 0;">
                        <b>Служба: </b>
                        {{service[order.service]}}
                        </span>
                     </p>
                     
                     <p>
                        <b>Откуда: </b> {{order.direction.from}} 
                     </p>
                     <p>
                        <b>Куда: </b> {{order.direction.to}} 
                     </p>
                     <p><b>{{order.driver.name}}</b> {{order.driver.id}}</p>
                     <p style="margin-bottom=7px"><b>Километраж: </b> {{order.km}}</p>
                  </td>
                  <td>
                     <span class="label label-info" ng-if="order.preorder" style="text-shadow: 0 0; margin-bottom: 7px">Предварительный</span>
                     <p ng-if="order.preorder"><b>Время пред заказа: <b/>{{order.moment.preorder | date:'dd.MM HH:mm'}}</p>
                     <p><b>Оповещение: <b/>{{order.moment.notification | date:'HH:mm'}}</p>
                     <p><b>Встреча: <b/>{{order.moment.met | date:'HH:mm'}}</p>
                     <p><b>Время ожидания: </b> {{order.waitingTime}} </p>
                     <p><b>Завершение: <b/>{{order.moment.end | date:'HH:mm'}}</p>
                     <p ng-if="order.directionSum <= 0"><b>Время поездки: </b> {{order.tripTime}} </p>
                  </td>
                  <td>
                     <p>
                        <span class="label label-success" ng-if="order.isCash" style="text-shadow: 0 0; margin-bottom: 7px">
                           Наличная
                        </span>
                        <span class="label label-warning" ng-if="!order.isCash" style="text-shadow: 0 0; margin-bottom: 7px">
                           Без наличная
                        </span>
                     </p>
                     <p ng-if="order.directionSum > 0"><b>Сумма тарифной зоны: </b> {{order.directionSum}} </p>
                     <p ng-if="order.kmSum > 0 && order.directionSum <= 0"><b>Сумма по километру: </b> {{order.kmSum}}</p>

                     <p style="margin-top:7px;"><b>Итого: </b> {{order.total}}</p>
                  </td>
                  <td>
                     <div class="btn-group " style="display: flex" role="group" aria-label="Left Align">
                        <div class="btn-group" style="display: flex">
                           <a class="btn btn-sm" ng-class="getStatusClass(order.status.key)" href="orders/{{order._id}}/edit">{{order.status.name}}</a>
                           <button type="button" class="btn btn-sm dropdown-toggle" ng-class="getStatusClass(order.status.key)" ng-disabled="order.status.key === 'CLOSED'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <ul class="dropdown-menu" data-ng-model="order.status">
                              <li ng-repeat="status in nextStatuses(order.status) track by $index">
                                 <a class="btn btn-sm btn-link" style="width: 11em; text-align: right;" ng-click="updateStatus(order, status);">{{status.name}}</a>
                              </li>
                           </ul>
                        </div>
                        <a ng-if="'COMPLETED' === order.status.key" class="btn btn-sm btn-default" aria-label="Left Align" href="/orders/{{order._id}}/duplicate">
                           <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                        </a>
                     </div>
                     <br/>
                     <p>{{order.user.name}}<p/>
                        <p><a class="btn" data-ng-click="remove(order);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>  </p>
                  </td>
               </tr>
            </tbody>
         </table>



         <!--
         <table class="table table-bordered table-hover">
            <thead>
               <tr class="small">
                  <th>Дата</th>
                  <th>Откуда</th>
                  <th>Куда </th>
                  <th>Контакты</th>
                  <th>Клиент</th>
                  <th>Время подачи</th>
                  <th>Время оповешения</th>
                  <th>Время встречи</th>
                  <th>Время завершения</th>
                  <th>Водитель</th>
                  <th>Сумма</th>
                  <th>Диспетчер</th>
                  <th>Комментарий</th>
                  <th><a class="btn btn-link" href="orders/create">Создать</a></th>
               </tr>
            </thead>
            <tbody>
               <tr data-ng-repeat="order in orders" ng-class="{ success: !order.isCash, warning: order.isCash}">
                  
                  <td>{{order.created | date:'dd.MM HH:mm'}}</td>
                  
                  <td>
                     {{order.direction.from.address}}
                  </td>
                  
                  <td>
                     {{order.direction.to.address}}

                     <span class="label label-info" ng-if="order.directionSum > 0" style="text-shadow: 0 0;">{{order.directionSum+' тг'}}</span>
                  </td>
                  
                  <td>
                     <div ng-repeat="passenger in order.passengers">
                        {{passenger.name.slice(0,10)}} {{passenger.phone}}
                     </div>
                     <span class="label label-warning" ng-if="service(order.service) !== null" style="text-shadow: 0 0;">{{service(order.service)}}</span>
                  </td>
                  
                  <td>{{order.client.title}}</td>
                  
                  <td>
                     {{order.moment.preorder | date:'dd.MM HH:mm'}}
                  </td>
                  
                  <td>
                     {{order.moment.notification | date:'HH:mm'}}
                  </td>
                  
                  <td>
                     {{order.moment.met | date:'HH:mm'}}
                     <span class="label label-danger" ng-if="order.waitingTime > 0" style="text-shadow: 0 0;">{{order.waitingTime+' мин'}}</span>
                  </td>
                  
                  <td>
                     {{order.moment.end | date:'HH:mm'}}
                     <span class="label label-primary" ng-if="order.tripTime > 0" style="text-shadow: 0 0;">{{order.tripTime+' мин'}}</span>
                  </td>
                  
                  <td>
                     {{order.driver.id +'-'+order.driver.name}}
                     <span class="label label-default" ng-if="order.kmSum > 0" style="text-shadow: 0 0;">{{order.kmSum+' тг'}}</span>
                  </td>
                  <td>
                     {{order.sum}}
                     <span class="label label-success" ng-if="order.total > 0" style="text-shadow: 0 0;">{{order.total+' тг'}}</span>
                  </td>
                  <td>{{order.user.name}}</td>
                  <td>
                     {{order.comment}}
                  </td>
                  <td>
                     <div class="btn-group " style="display: flex" role="group" aria-label="Left Align">
                        <div class="btn-group" style="display: flex">
                           <a class="btn btn-sm" ng-class="getStatusClass(order.status.key)" href="orders/{{order._id}}/edit">{{order.status.name}}</a>
                           <button type="button" class="btn btn-sm dropdown-toggle" ng-class="getStatusClass(order.status.key)" ng-disabled="order.status.key === 'CLOSED'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <ul class="dropdown-menu" data-ng-model="order.status">
                              <li ng-repeat="status in nextStatuses(order.status) track by $index">
                                 <a class="btn btn-sm btn-link" style="width: 11em; text-align: right;" ng-click="updateStatus(order, status);">{{status.name}}</a>
                              </li>
                           </ul>
                        </div>
                        <a ng-if="'COMPLETED' === order.status.key" class="btn btn-sm btn-default" aria-label="Left Align" href="/orders/{{order._id}}/duplicate">
                           <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                        </a>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>-->
      </div>

      <p data-ng-hide="!orders || orders.length">Заказов нет</p>
</section>
