<style>
   .isCashRow {
   background-color: #CC9999;
   }
   .even {
   background-color: #9999CC;
   }
</style>
<section data-ng-controller="ReportsController" data-ng-init="getOrders()">
   <p {{orders.length}} заказов</p>
   
   <br/>
   <p>Количество {{orders.length}} </p>
   
   <br/>
   
   <div class="row">
      <table class="table table-bordered table-hover">
         <thead>
            <tr>
               <th>Дата</th>
               <th>Откуда</th>
               <th>Куда </th>
               <th>Контакты</th>
               <th>Клиент</th>
               <th>Время подачи</th>
               <th>Время оповещения</th>
               <th>Время встречи</th>
               <th>Время завершения</th>
               <th>Время ожидания</th>
               <th>Время поездки</th>
               <th>Водитель</th>
               <th>Сумма</th>
               <th>Тикет</th>
               <th>Км</th>
               <th>Сумма по км</th>
               <th>Диспетчер</th>
               <th>Комментарий</th>
               <th>Сумма</th>
            </tr>
         </thead>
         <tbody>
            <tr data-ng-repeat="order in orders" ng-class="{ success: !order.isCash, warning: order.isCash}">
               <!--Дата-->
               <td>{{order.created | date:'dd.MM HH:mm'}}</td>
               <!--Откуда-->
               <td>
                  {{order.direction.from.address}}
               </td>
               <!--Куда-->
               <td>
                  {{order.direction.to.address}}
               </td>
               <!--Контакты-->
               <td>
                  <div ng-repeat="passenger in order.passengers">
                     {{passenger.name.slice(0,10)}} {{passenger.phone}}
                  </div>
                  <span class="label label-warning" ng-if="service(order.service) !== null" style="text-shadow: 0 0;" >{{service(order.service)}}</span>
               </td>
               <!--Компания-->
               <td>{{order.client.title}}</td>
               <!--Пред заказ -->
               <td>
                  {{order.moment.preorder | date:'dd.MM HH:mm'}}
               </td>
               <!--Время оповещения -->
               <td>{{order.moment.notification | date:'HH:mm'}}</td>
               <!--Время встречи -->
               <td>{{order.moment.met | date:'HH:mm'}}</td>
               <!--Время завершения -->
               <td>
                  {{order.moment.end | date:'HH:mm'}}
               </td>
               <td>
                  {{order.waitingTime}}
               </td>
               <td>
                  {{order.tripTime}}
               </td>
               <!--Водитель -->
               <td>{{order.driver.id}} {{order.driver.name}}</td>
               <!--Сумма -->
               <td>{{order.sum}}</td>
               <!--Тикет -->
               <td>{{order.ticket}}</td>
               <!--Km -->
               <td>{{order.km}}</td>
               <td>{{order.kmSum}}</td>
               <!--Диспетчер -->
               <td>{{order.user.name}}</td>
               <!--Коментарий -->
               <td>{{order.comment}}</td>
               <!--Статус -->
               <td>{{order.total}}
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   
   <p data-ng-hide="!orders || orders.length">Заказов нет</p>
</section>
