<div data-ng-controller="PlacesController">
  <div class="vertical-middle">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Новый адрес</h2>
        </div>
        <div class="panel-body">
          <form name="placeForm" data-ng-submit="create(placeForm.$valid)" class="form-horizontal" role="form">

            <div class="form-group" ng-class="{ 'has-error' : submitted && placeForm.address.$invalid }">
              <label mean-token="'create-address'" class="col-md-2 control-label">Адрес</label>
              <div class="col-md-10">
                <input title="address" type="text" class="form-control" data-ng-model="place.address" id="address" placeholder="Введите адрес..." required\>
                <div ng-show="submitted && placeForm.address.$invalid" class="help-block">
                  <p ng-show="placeForm.address.$error.required">Address is required</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && PlaceForm.description.$invalid }">
              <label mean-token="'create-description'" class="col-md-2 control-label">Описание</label>
              <div class="col-md-10">
                <input title="description" type="text" class="form-control" data-ng-model="place.description" id="description" placeholder="Введите описание..." \>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && PlaceForm.sum.$invalid }">
              <label mean-token="'create-sum'" class="col-md-2 control-label">Сумма</label>
              <div class="col-md-10">
                <input title="sum" type="money" class="form-control" data-ng-model="place.sum" id="sum" placeholder="Введите сумму..." \>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button mean-token="'create-submit'" type="submit" class="btn btn-info">Добавить</button>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
