<div data-ng-controller="PlacesController" data-ng-init="findOne()">
  {{formData}}
  <div class="vertical-middle">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Place form</h2>
        </div>
        <div class="panel-body">
          <form name="placeForm" data-ng-submit="update(placeForm.$valid)" class="form-horizontal" role="form">

            <div class="form-group" ng-class="{ 'has-error' : submitted && placeForm.address.$invalid }">
              <label mean-token="'update-address'" class="col-md-2 control-label">Name</label>
              <div class="col-md-10">
                <input title="address" type="text" class="form-control" data-ng-model="place.address" id="address" placeholder="Address" required\>
                <div ng-show="submitted && placeForm.address.$invalid" class="help-block">
                  <p ng-show="placeForm.address.$error.required">Address is required</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && PlaceForm.description.$invalid }">
              <label mean-token="'update-description'" class="col-md-2 control-label">Description</label>
              <div class="col-md-10">
                <input title="description" type="text" class="form-control" data-ng-model="place.description" id="description" placeholder="Description" \>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && PlaceForm.sum.$invalid }">
              <label mean-token="'update-sum'" class="col-md-2 control-label">Sum</label>
              <div class="col-md-10">
                <input title="sum" type="money" class="form-control" data-ng-model="place.sum" id="sum" placeholder="Sum" \>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && PlaceForm.coordinates.$invalid }">
              <label mean-token="'update-coordinates'" class="col-md-2 control-label">Coordinates</label>
              <div class="col-md-10">
                <input title="coordinates" type="text" class="form-control" data-ng-model="place.coordinates" id="coordinates" placeholder="Coordinates" \>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button mean-token="'update-submit'" type="submit" class="btn btn-info">Submit</button>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
