<section data-ng-controller="PlacesController" data-ng-init="find()">

  <p><a class="btn btn-primary" data-ng-href="/places/create">Создать</a></p>

  <div data-ng-hide="!places.length > 0">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>Address</th>
          <th>Description</th>
          <th>Sum</th>
          <th>Created</th>
          <th>Coordinates</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr data-ng-repeat="place in places">
          <td>{{place.address}}</td>
          <td>{{place.description}}</td>
          <td>{{place.sum}}</td>
          <td>{{place.created}}</td>
          <td>{{place.user.username}}</td>
          <td>
            <a class="btn" href="places/{{place._id}}/edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </td>
          <td>
            <a class="btn" data-ng-click="remove(place);">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <p><a data-ng-href="/places/create">Create One</a></p>
  </div>
  <br/>
  <h2 data-ng-hide="!places || places.length">No places yet. <br> Why don't you <a href="/places/create">Create One</a>?</h2>
</section>
