<section data-ng-controller="PlacesController" data-ng-init="findOne()">
  <span>{{place.created | date:'medium'}}</span> /
  <span>{{place.user.name}}</span>
  <h2>{{place.address }}  {{place.sum}}</h2>
  <div data-ng-if="hasAuthorization(place)">
    <a class="btn" href="places/{{place._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(place);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>{{place.description}}</div>
</section>
