<div data-ng-controller="StatusesController" data-ng-init="findOne()">
  {{formData}}
  <div class="vertical-middle">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Status form</h2>
        </div>
        <div class="panel-body">
          <form name="placeForm" data-ng-submit="update(placeForm.$valid)" class="form-horizontal" role="form">

            <div class="form-group" ng-class="{ 'has-error' : submitted && placeForm.name.$invalid }">
              <label mean-token="'update-name'" class="col-md-2 control-label">Name</label>
              <div class="col-md-10">
                <input title="name" type="text" class="form-control" data-ng-model="status.name" id="name" placeholder="Name" required\>
                <div ng-show="submitted && placeForm.name.$invalid" class="help-block">
                  <p ng-show="placeForm.name.$error.required">Name is required</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && PlaceForm.description.$invalid }">
              <label mean-token="'update-description'" class="col-md-2 control-label">Description</label>
              <div class="col-md-10">
                <input title="description" type="text" class="form-control" data-ng-model="status.description" id="description" placeholder="Description" \>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && statusForm.code.$invalid }">
              <label mean-token="'create-code'" class="col-md-2 control-label">Status Code</label>
              <div class="col-md-10">
                <input title="code" type="text" class="form-control" data-ng-model="status.code" id="code" placeholder="Code" required\>
                <div ng-show="submitted && statusForm.code.$invalid" class="help-block">
                  <p ng-show="statusForm.code.$error.required">code is required</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && statusForm.key.$invalid }">
              <label mean-token="'create-key'" class="col-md-2 control-label">Status Code</label>
              <div class="col-md-10">
                <input title="key" type="text" class="form-control" data-ng-model="status.key" id="key" placeholder="Key" required\>
                <div ng-show="submitted && statusForm.key.$invalid" class="help-block">
                  <p ng-show="statusForm.key.$error.required">key is required</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button mean-token="'update-submit'" type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
