<section data-ng-controller="StatusesController" data-ng-init="find()">
  <div data-ng-hide="!statuses.length > 0">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>Ключ</th>
          <th>Код</th>
          <th>Название</th>
          <th>Описание</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr data-ng-repeat="status in statuses">
          <td>{{status.key}}</td>
          <td>{{status.code}}</td>
          <td>{{status.name}}</td>
          <td>{{status.description}}</td>
          <td><a data-ng-href="/statuses/{{status._id}}">View</a></td>
          <td><a data-ng-href="/statuses/{{status._id}}/edit">Edit</a></td>
        </tr>
      </tbody>
    </table>
    <p><a data-ng-href="/statuses/create">Create One</a></p>
  </div>
  <br/>
  <h2 data-ng-hide="!statuses || statuses.length">No statuses yet. <br> Why don't you <a href="/statuses/create">Create One</a>?</h2>
</section>
