<section data-ng-controller="StatusesController" data-ng-init="findOne()">
  <span>{{status.created | date:'medium'}}</span> /
  <span>{{status.user.name}}</span>
  <h2>{{status.name }}</h2>
  <div data-ng-if="hasAuthorization(status)">
    <a class="btn" href="statuss/{{status._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(status);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>{{status.description}}</div>
</section>
