<div data-ng-controller="CarsController">
  {{formData}}
  <div class="vertical-middle">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Создание нового авто</h2>
        </div>
        <div class="panel-body">
          <form name="carForm" data-ng-submit="create(carForm.$valid)" class="form-horizontal" role="form">

            <div class="form-group" ng-class="{ 'has-error' : submitted && carForm.number.$invalid }">
              <label mean-token="'create-number'" class="col-md-2 control-label">Номер авто*</label>
              <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="car.number" id="number" placeholder="Введите номер машины..." required\>
                <div ng-show="submitted && carForm.number.$invalid" class="help-block">
                  <p ng-show="carForm.number.$error.required">Номер машины обязателен к заполнению</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && carForm.model.$invalid }">
              <label mean-token="'create-car'" class="col-md-2 control-label">Модель*</label>
              <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="car.model" id="model" placeholder="Введите модель авто..." \>
                <div ng-show="submitted && carForm.model.$invalid" class="help-block">
                  <p ng-show="carForm.model.$error.required">Модель машины обязателен к заполнению</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label mean-token="'create-mileage'" class="col-md-2 control-label">Пробег</label>
              <div class="col-md-10">
                <input type="number" min=0 class="form-control" data-ng-model="car.mileage" id="mileage" placeholder="Введите пробег..." \>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && carForm.color.$invalid }">
              <label mean-token="'create-color'" class="col-md-2 control-label">Цвет</label>
              <div class="col-md-10">
                <input title="color" type="text" class="form-control" data-ng-model="car.color" id="color" placeholder="Введите цвет авто..." \>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button mean-token="'create-submit'" type="submit" class="btn btn-info">Submit</button>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
