<div data-ng-controller="CarsController" data-ng-init="findOne()">
  <div class="vertical-middle">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Редактирование авто</h2>
        </div>
        <div class="panel-body">
          <form name="clientForm" data-ng-submit="update(clientForm.$valid)" class="form-horizontal" role="form">

            <div class="form-group" ng-class="{ 'has-error' : submitted && carForm.number.$invalid }">
              <label mean-token="'create-number'" class="col-md-2 control-label">Гос номер</label>
              <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="car.number" id="number" placeholder="Введите номер машины..." required\>
                <div ng-show="submitted && carForm.number.$invalid" class="help-block">
                  <p ng-show="carForm.number.$error.required">Номер машины обязателен к заполнению</p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : submitted && carForm.model.$invalid }">
              <label mean-token="'create-car'" class="col-md-2 control-label">Модель</label>
              <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="car.model" id="model" placeholder="Введите модель авто..." \>
                <div ng-show="submitted && carForm.model.$invalid" class="help-block">
                  <p ng-show="carForm.model.$error.required">Модель машины обязателен к заполнению</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label mean-token="'create-mileage'" class="col-md-2 control-label">Пробег</label>
              <div class="col-md-10">
                <input type="number" min=0 class="form-control" data-ng-model="car.mileage" id="mileage" placeholder="Введите пробег..." \>
              </div>
            </div>

            <div class="form-group">
              <label mean-token="'create-color'" class="col-md-2 control-label">Цвет</label>
              <div class="col-md-10">
                <input title="color" type="text" class="form-control" data-ng-model="car.color" id="color" placeholder="Введите цвет авто..." \>
              </div>
            </div>

            <div class="form-group">
              <label mean-token="'create-isBusy'" class="col-md-2 control-label">Свободен</label>
              <div class="col-md-10">
                 <input type="checkbox" name="isBusy" data-ng-model="car.isBusy"/>
                 {{car.isBusy === true ? 'Дат' : 'Нет'}}
              </div>
            </div>

            <hr/>

            <div class="panel panel-default">
              <div class="panel-heading">
                Замена масла
              </div>

              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Наименование</th>
                      <th>Сумма</th>
                      <th>Дата покупки</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="text" class="form-control" id="oilName" ng-model="oilName" placeholder="Введите название масла...">
                      </td>
                      <td>
                        <input type="number" class="form-control" id="oilSum" ng-model="oilSum" placeholder="Введите сумма масла...">
                      </td>
                      <td>
                        <input type="date" class="form-control" id="oilDate" ng-model="oilDate" placeholder="Выберите дату покупки масла...">
                      </td>
                      <td>
                        <a href="" class="btn btn-primary" ng-click="addOil()">Добавить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th>Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="oil in car.oils">
                      <td>{{oil.name}}</td>
                      <td>{{oil.sum}}</td>
                      <td>{{oil.date | date:'dd.MM.yyyy'}}</td>
                      <td>
                        <a class="btn btn-primary" ng-click="removeCarProp('oils', $index)">Удалить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <br/>

            <div class="panel panel-success">
              <div class="panel-heading">ДТП</div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Описание</th>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <textarea class="form-control" ng-model="accidentDesc" placeholder="Введите описание ДТП..." rows="3"></textarea>
                      </td>
                      <td>
                        <input type="number" class="form-control" ng-model="accidentSum" placeholder="Введите сумму...">
                      </td>
                      <td>
                        <input type="date" class="form-control" ng-model="accidentDate" placeholder="Выберите дату...">
                      </td>
                      <td>
                        <a href="" class="btn btn-primary" ng-click="addAccident()">Добавить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Описание</th>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th>Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="accident in car.accidents">
                      <td>{{accident.description}}</td>
                      <td>{{accident.sum}}</td>
                      <td>{{accident.date | date:'dd.MM.yyyy'}}</td>
                      <td>
                        <a class="btn btn-primary" ng-click="removeCarProp('accidents', $index)">Удалить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <br/>
            
            <div class="panel panel-info">
              <div class="panel-heading">Штрафы</div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th>Оплачен?</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="number" class="form-control" ng-model="fineSum" placeholder="Введите сумму...">
                      </td>
                      <td>
                        <input type="date" class="form-control" ng-model="finetDate" placeholder="Выберите дату...">
                      </td>
                      <td>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="fineIsPaid"> Оплачен?
                          </label>
                        </div>
                      </td>
                      <td>
                        <a href="" class="btn btn-primary" ng-click="addFine()">Добавить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th>Оплачен</th>
                      <th>Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="fine in car.fines">
                      <td>{{fine.sum}}</td>
                      <td>{{fine.date | date:'dd.MM.yyyy'}}</td>
                      <td>{{fine.isPaid === true ? 'да' : 'нет'}}
                      </td>
                      <td>
                        <a class="btn btn-primary" ng-click="removeCarProp('fines', $index)">Удалить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <br/>

            <div class="panel panel-warning">
              <div class="panel-heading">СТО</div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="number" class="form-control" ng-model="serviceSum" placeholder="Введите сумму...">
                      </td>
                      <td>
                        <input type="date" class="form-control" ng-model="serviceDate" placeholder="Выберите дату...">
                      </td>
                      <td>
                        <a href="" class="btn btn-primary" ng-click="addService()">Добавить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th>Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="service in car.services">
                      <td>{{service.sum}}</td>
                      <td>{{service.date | date:'dd.MM.yyyy'}}</td>
                      <td>
                        <a class="btn btn-primary" ng-click="removeCarProp('services', $index)">Удалить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <br/>

            <div class="panel panel-danger">
              <div class="panel-heading">Страховка</div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th>Страховая компания</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="number" class="form-control" ng-model="insuranceSum" placeholder="Введите сумму...">
                      </td>
                      <td>
                        <input type="date" class="form-control" ng-model="insuranceDate" placeholder="Выберите дату...">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="insuranceAgent" placeholder="Введите название СК...">
                      </td>
                      <td>
                        <a href="" class="btn btn-primary" ng-click="addInsurance()">Добавить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Сумма</th>
                      <th>Дата</th>
                      <th>СК</th>
                      <th>Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="insurance in car.insurances">
                      <td>{{insurance.sum}}</td>
                      <td>{{insurance.date | date:'dd.MM.yyyy'}}</td>
                      <td>{{insurance.agent}}</td>
                      <td>
                        <a class="btn btn-primary" ng-click="removeCarProp('insurances', $index)">Удалить</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <hr/>


            <div class="form-group">
              <div class="col-md-offset-1 col-md-11">
                <button mean-token="'create-submit'" type="submit" class="btn btn-danger btn-lg btn-block">Обновить характеристики автомобиля</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
