<section data-ng-controller="CarsController" data-ng-init="find()">

  <p><a class="btn btn-primary" data-ng-href="/cars/create">Создать</a></p>

  <div data-ng-hide="!cars.length > 0">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>Модель</th>
          <th>Гос номер</th>
          <th>Цвет</th>
          <th>Пробег</th>
          <th>Свободен?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr data-ng-repeat="car in cars">
          <td>{{car.model}}</td>
          <td>{{car.number}}</td>
          <td>{{car.color}}</td>
          <td>{{car.mileage}}</td>
          <td>{{car.isBusy ? 'Да' : 'Нет'}}</td>
          <td><a data-ng-href="/cars/{{car._id}}">Просмотр</a></td>
          <td><a data-ng-href="/cars/{{car._id}}/edit">Редактирование</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <h2 data-ng-hide="!cars || cars.length">Нет ни одного авто. <br> Почему бы не <a href="/cars/create">добавить</a>?</h2></section>
