<section data-ng-controller="CarsController" data-ng-init="findOne()">
  <span>{{car.created | date:'medium'}}</span> /
  <span>{{car.user.name}}</span>
  <h2>{{car.name }} {{car.id}}</h2>
  <div data-ng-if="hasAuthorization(car)">
    <a class="btn" href="cars/{{car._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(car);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>{{car.color}} {{car.number}}</div>
</section>
